# Managed by infrastructure-operations-platform.
ALLOWED_HOSTS={{ netbox_allowed_hosts | join(' ') }}
DB_HOST=postgres
DB_NAME={{ netbox_database_name }}
DB_USER={{ netbox_database_user }}
DB_PASSWORD={{ netbox_postgres_password }}
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD={{ netbox_redis_password }}
REDIS_CACHE_HOST=redis-cache
REDIS_CACHE_PORT=6379
REDIS_CACHE_PASSWORD={{ netbox_redis_cache_password }}
SECRET_KEY={{ netbox_secret_key }}
API_TOKEN_PEPPER_1={{ netbox_api_token_pepper }}
SUPERUSER_NAME={{ netbox_superuser_name }}
SUPERUSER_EMAIL={{ netbox_superuser_email }}
SUPERUSER_PASSWORD={{ netbox_superuser_password }}
SKIP_SUPERUSER=false
METRICS_ENABLED={{ netbox_enable_metrics | ternary('true', 'false') }}
POSTGRES_DB={{ netbox_database_name }}
POSTGRES_USER={{ netbox_database_user }}
POSTGRES_PASSWORD={{ netbox_postgres_password }}
