global:
  smtp_smarthost: "{{ observability_alertmanager_smtp_smarthost }}"
  smtp_from: "{{ observability_alertmanager_smtp_from }}"
  smtp_auth_username: "{{ observability_alertmanager_smtp_username }}"
  smtp_auth_password_file: /run/secrets/alertmanager_smtp_password
  smtp_require_tls: true

route:
  receiver: warning-email
  group_by:
    - alertname
    - service
    - instance
  group_wait: {{ observability_alertmanager_warning_group_wait }}
  group_interval: 5m
  repeat_interval: {{ observability_alertmanager_warning_repeat_interval }}
  routes:
    - receiver: critical-email
      matchers:
        - severity="critical"
      group_wait: {{ observability_alertmanager_critical_group_wait }}
      repeat_interval: {{ observability_alertmanager_critical_repeat_interval }}

    - receiver: warning-email
      matchers:
        - severity="warning"
      group_wait: {{ observability_alertmanager_warning_group_wait }}
      repeat_interval: {{ observability_alertmanager_warning_repeat_interval }}

receivers:
  - name: critical-email
    email_configs:
      - to: "{{ observability_alertmanager_email_to }}"
        send_resolved: true
        headers:
          subject: >-
            [Infrastructure Operations][CRITICAL] {{ '{{' }} .Status | toUpper {{ '}}' }} -
            {{ '{{' }} .CommonLabels.alertname {{ '}}' }}

  - name: warning-email
    email_configs:
      - to: "{{ observability_alertmanager_email_to }}"
        send_resolved: true
        headers:
          subject: >-
            [Infrastructure Operations][WARNING] {{ '{{' }} .Status | toUpper {{ '}}' }} -
            {{ '{{' }} .CommonLabels.alertname {{ '}}' }}

inhibit_rules:
  - source_matchers:
      - alertname="TLSCertificateExpiringCritical"
    target_matchers:
      - alertname="TLSCertificateExpiringSoon"
    equal:
      - service
