---
global:
  scrape_interval: {{ observability_scrape_interval }}
  evaluation_interval: {{ observability_scrape_interval }}

rule_files:
  - /etc/prometheus/alerts.yml

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets:
          - prometheus:9090

  - job_name: node
    static_configs:
      - targets:
          - node-exporter:9100

  - job_name: containers
    static_configs:
      - targets:
          - cadvisor:8080

  - job_name: blackbox-exporter
    static_configs:
      - targets:
          - blackbox-exporter:9115

  - job_name: blackbox-http
    metrics_path: /probe
    params:
      module:
        - http_2xx
    static_configs:
{% for target in observability_blackbox_targets %}
      - targets:
          - {{ target.url }}
        labels:
          service: {{ target.name }}
{% endfor %}
    relabel_configs:
      - source_labels:
          - __address__
        target_label: __param_target
      - source_labels:
          - __param_target
        target_label: instance
      - target_label: __address__
        replacement: blackbox-exporter:9115
{% if observability_enable_traefik %}

  - job_name: traefik
    static_configs:
      - targets:
          - traefik:8082
{% endif %}
