[WebService]
Origins ={% for hostname in [cockpit_hostname] + cockpit_additional_hostnames %} https://{{ hostname }} wss://{{ hostname }}{% endfor %}{{ '' }}
ProtocolHeader = X-Forwarded-Proto
ForwardedForHeader = X-Forwarded-For
LoginTitle = {{ cockpit_login_title }}
LoginTo = false
AllowUnencrypted = false
