GLPI_DB_HOST=db
GLPI_DB_PORT=3306
GLPI_DB_NAME={{ glpi_database_name | to_json }}
GLPI_DB_USER={{ glpi_database_user | to_json }}
GLPI_DB_PASSWORD={{ glpi_database_password | to_json }}
GLPI_SKIP_AUTOINSTALL={{ (not glpi_auto_install) | bool | lower }}
GLPI_SKIP_AUTOUPDATE={{ glpi_skip_auto_update | bool | lower }}
GLPI_CRONTAB_ENABLED={{ 1 if glpi_crontab_enabled else 0 }}
TZ={{ glpi_timezone | to_json }}
