---
http:
{% if traefik_enable_cockpit %}
  routers:
    cockpit:
      rule: "{% for hostname in [traefik_cockpit_hostname] + traefik_cockpit_additional_hostnames %}{% if not loop.first %} || {% endif %}Host(`{{ hostname }}`){% endfor %}"
      entryPoints:
        - websecure
      middlewares:
        - security-headers
      service: cockpit
      tls: {}
  services:
    cockpit:
      loadBalancer:
        serversTransport: cockpit-local
        servers:
          - url: "{{ traefik_cockpit_backend_url }}"
  serversTransports:
    cockpit-local:
      insecureSkipVerify: true
{% endif %}
  middlewares:
    dashboard-auth:
      basicAuth:
        users:
          - "{{ traefik_dashboard_basic_auth }}"
        removeHeader: true
    security-headers:
      headers:
        browserXssFilter: true
        contentTypeNosniff: true
        customFrameOptionsValue: "SAMEORIGIN"
        referrerPolicy: "strict-origin-when-cross-origin"
        permissionsPolicy: >-
          camera=(), microphone=(), geolocation=(), payment=(),
          usb=(), interest-cohort=()
        customResponseHeaders:
          X-Robots-Tag: "noindex, nofollow, nosnippet, noarchive"
          Server: ""
        stsSeconds: {{ (31536000 if traefik_enable_https else 0) }}
        stsIncludeSubdomains: {{ traefik_enable_https | bool | lower }}
        stsPreload: false
{% if traefik_enable_https %}
tls:
  certificates:
    - certFile: /etc/traefik/certs/tls.crt
      keyFile: /etc/traefik/certs/tls.key
  options:
    default:
      minVersion: VersionTLS12
      sniStrict: true
{% endif %}
