---
global:
  checkNewVersion: false
  sendAnonymousUsage: false

api:
  dashboard: true
  insecure: false

ping:
  entryPoint: metrics

log:
  level: {{ traefik_log_level }}
  format: json

accessLog:
  format: json

entryPoints:
  web:
    address: ":80"
{% if traefik_redirect_http_to_https %}
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true
{% endif %}
  websecure:
    address: ":443"
  metrics:
    address: ":8082"

providers:
  docker:
    endpoint: "http://docker-socket-proxy:2375"
    exposedByDefault: false
    network: "{{ traefik_proxy_network }}"
    watch: true
  file:
    directory: /etc/traefik/dynamic
    watch: true

metrics:
  prometheus:
    entryPoint: metrics
    addEntryPointsLabels: true
    addRoutersLabels: true
    addServicesLabels: true
